.header-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.header-container__text {
  display: flex;
  flex: 0.6;
  flex-direction: column;
  font-family: var(--font-family);
}
.header-container__text {
  margin-bottom: 2rem;
}
.header-container__text h1 {
  font-weight: 800;
  font-size: 62px;
  line-height: 75px;
  letter-spacing: -0.04em;
  margin-bottom: 2rem;
}
.header-container__text p {
  font-weight: 400;
  font-size: 20px;
  line-height: 27px;
  color: #81afdd;
  margin-bottom: 2rem;
}
.header-container__text__input {
  width: 100%;
  display: flex;
  flex-direction: row;
}
.header-container__text__input input {
  background-color: var(--color-footer);
  outline: none;
  border: none;
  border-radius: 5px 0px 0px 5px;
  padding: 1rem;
  flex: 1;
  font-weight: 400;
  font-size: 20px;
  color: #ffffff;
}
.header-container__text button {
  background: #ff4820;
  border-radius: 0px 5px 5px 0px;
  padding: 1rem;
  border: none;
  outline: none;
  font-weight: 700;
  font-size: 20px;
  line-height: 27px;
  color: #ffffff;
}
.header-container__text__people {
  margin-top: 2rem;
  display: flex;
  align-items: center;
}
.header-container__text__people img {
  margin-right: 1rem;
}
.header-container__text__people p {
  font-weight: 500;
  font-size: 12px;
  line-height: 38px;
  color: #ffffff;
  margin: 0;
}
.header-container__image {
  flex: 1;
}
.header-container__image img {
  width: 100%;
  height: 100%;
}

@media screen and (max-width: 1050px) {
  .header-container {
    flex-direction: column;
  }
}

@media screen and (max-width: 650px) {
  .header-container__text h1 {
    font-size: 48px;
    line-height: 60px;
  }
  .header-container__text p {
    font-size: 1rem;
  }
  .header-container__text__input input,
  .header-container__text__input button {
    font-size: 1rem;
  }
  .header-container__text__people {
    flex-direction: column;
  }
}
@media screen and (max-width: 490px) {
  .header-container__text h1 {
    font-size: 36px;
    line-height: 50px;
  }
}
